form.formInput {
 display: flex;
 flex-direction: column;
 width: 300px;
 margin: 0 auto;
}

form.formInput label {
 padding: 10px 0;
}

form.formInput input {
 padding: 5px;
}

form.formInput button {
 background-color: lightblue;
 padding: 10px;
 margin: 20px 0;
}